node_modules
**/node_modules

dist
**/dist
.next
**/.next

coverage
**/coverage

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

/uploads/
apps/backend-api/uploads/

logs
**/logs

*.log
**/*.log

.vercel
**/.vercel

.env.local
**/.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
